/* Brand Colours */

/*

#d9d9d9
#a6a6a6
#595959
#262626
#0d0d0d

#37b2eb;

*/

/* Style Framework Overrides */

h3 {
  font-size: 3rem;
}

a {
  color: #37b2eb;
}
a:hover, a:focus {
  color: #d9d9d9;
}

button, input, optgroup, select, textarea {
  color: #595959;
}

button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #262626;
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #262626;
  border-color: #a6a6a6;
  background-color: #a6a6a6;
}

button.button-primary,
.button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #262626;
  border-color: #37b2eb;
  background-color: #37b2eb;
}
button.button-primary:hover,
.button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
button.button-primary:focus,
.button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #262626;
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #a6a6a6;
}

/* General */

body {
  color: #d9d9d9;
  background-color: #0d0d0d;
  max-width: 1184px;
  margin: 0 auto;
  padding: 2rem 5rem 5rem 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  color: #37b2eb;
  margin: 3rem 0 5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

#home-link span {
  font-weight: bolder;
  display: none;
}
@media (min-width: 750px) {
  #home-link span {
    display: inline;
  }
}

#navbar-wrapper {
  margin: 2rem 0;
}

#navbar {
  text-align: right;
}

#navbar a {
  color: #d9d9d9;
  text-decoration: none;
  margin: 0 0 0 2rem;
}
#navbar a.active {
  font-weight: bolder;
}
a:hover, a:focus {
  color: #a6a6a6;
}

.banner-image, .product-image, .full-width-image {
  width: 100%;
}
.half-width-image {
  width: 50%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#intro-text {
  color: #d9d9d9;
}

.general-margin {
  margin: 2rem 0;
}

.general-large-margin {
  margin: 5rem 0;
}

small {
  color: #d9d9d9;
}

#cutsom-t-shirts-logo {
  display: none;
}
@media (min-width: 550px) {
  #cutsom-t-shirts-logo {
    display: inline;
  }
}

#image-carousel-nav-right, 
#image-carousel-nav-left {
  display: none;
}
.carousel-image {
  display: inline;
}
@media (min-width: 550px) {
  #image-carousel-nav-right, 
  #image-carousel-nav-left {
      display: inline;
  }
  .carousel-image {
    display: none;
  }
  .carousel-image.active {
    display: inline;
  }
}

p.product-info, p.terms-info {
  line-height: 3rem;
}
h4.about-info, h4.terms-info {
  line-height: 5rem;
}
h4.terms-info {
  color: #37b2eb;
}

h4.order-info {
  margin: 0rem 0 2rem 0;
}
#product-price-header, 
#national-total, 
#international-total {
  color: #37b2eb;
}
#delivery-selection label {
  margin: -0.5rem 0 0 0;
  padding: 0 2.5rem 0 1rem;
}
input[type="radio"].size-selection-radio-button {
  margin: 0.5rem 1rem;
}
.graphic-selection {
  width: 50%;
  margin: 0 0 3rem 0;
}
.graphic-selection-image, .graphic-selection-input {
  width: 80%;
}
.graphic-selection-image {
  border: 1px solid white;
}
input[type="radio"].graphic-selection-radio-button {
  margin: 0.5rem 1rem 10rem 0;
}
h5#product-order-payment-methods {
  color: #d9d9d9;
}

#terms-and-conditions h5 {
  margin: 5rem 0 2rem 0;  
}

footer {
  color: #595959;
  margin: 8rem 0 5rem 0;
}

#footer-social-links {
  text-align: center;
}

#footer-links h5 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

#footer-social-links a {
  color: #d9d9d9;
  font-size: 3rem;
}
#footer-social-links a:hover, #footer-social-links a:active {
  color: #a6a6a6;
  font-size: 3rem;
}

.no-line-break {
  white-space: nowrap;
}

/* Fonts */

body, .urbanist-font, footer h5 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* 100 to 900 */
  font-style: normal;
}

h1, h3, h5, h6, .rock-salt-font {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

h2, h4 {
  color: #d9d9d9;
  font-weight: normal;
  margin: 3rem 0 0.5rem 0;
}
h2.highlight, h4.highlight {
  color: #37b2eb;
  font-weight: bolder;
}

/* Media queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
